{% extends 'structure.html'%}
{% block content %}
{%load static%}   

    <!--====== Page Banner Start ======-->

    <section class="page-banner">
        <div class="page-banner-bg bg_cover" style="background-image: url({% static 'assets/images/page-banner.webp'%});">
            <div class="container">
                <div class="banner-content text-center">
                    <h2 class="title">Nos Enseignants</h2>
                </div>
            </div>
        </div>
    </section>

    <!--====== Page Banner Ends ======-->

    <!--====== Teachers Start ======-->

    <section class="teachers-page">
        <div class="container">
            <div class="row teachers-row">
                {% for i in enseignant %}
                <div class="col-md-4 col-sm-6 teachers-col">
                    <div class="single-teacher mt-80 text-center">
                        <div class="teacher-social">
                            <ul class="social">
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                            </ul>
                        </div>
                        <div class="teacher-image">
                            <a href="teacher-details.html">
                                <img src="{{i.image.url}}" width="266" height="359" alt="teacher">
                            </a>
                        </div>
                        <div class="teacher-content">
                            <h4 class="name"><a href="teacher-details.html">{{i.nom}} {{i.prenom}}</a></h4>
                            <span class="designation">Science Lecturor</span>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <!--====== Teachers Ends ======-->

{% endblock %}